
  <ion-header [translucent]="true">
    <ion-toolbar color="danger">
      <ion-title>
       Todo-App
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button routerLink="/add-data">
          <ion-icon slot="icon-only" name="add" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>

  <ion-card *ngFor="let todolist of list" class="ion-margin">
    <ion-card-header>
      
      <ion-card-subtitle>
        {{ todolist.name }}
      </ion-card-subtitle>
      <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
         {{ todolist.text }}
         </ion-text>
      </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="danger"> {{ todolist.date | date: "MMM d, y, h:mm a"}} </ion-label>
    </ion-card-content>

    <ion-row class="ion-justify-content-center">
      <ion-item button (click)="deleteList(todolist)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancel</p>
      </ion-item>
    </ion-row>

  </ion-card>
  </ion-content>