
ion-content{
  --background: azure;
}
ion-card{
  --background: transparent;

}
 ion-card-subtitle{
   font-weight: bold;
   font-family: arial;
 }
 ion-item{
   --background: transparent;
 }
 ion-card-content{
   ion-label{
     font-size: bold;
   }
 }

